<div class="card">
    <div class="card-body">
        <h4>{{postagem.nome}}</h4>
        <h5>{{postagem.descricao}}</h5>
        <p>{{postagem.conteudo}}</p>
        <hr>
        <p>{{postagem.categoria.nome}}</p>
        <p>Publicado em: {{postagem.date}}</p>

    </div>
</div>